.header {
    nav {
        padding: 1.0625rem 1.5rem;
    }
    &__logo {
        img {
            width: 8.8125rem;
            height: 1.375rem;
            margin-top: 0.4rem;
        }
    }
    &__menu { //mobile menu
        > span {
            display: block;
            width: 25px;
            height: 2px;     
            background-color: $darkBlue;

            &:not(:last-child) {
                margin-bottom: 5px;
            }
        }
        &.open {
            > span:first-child {
                transform-origin: 1px 2px;
                transform: rotate(45deg);
                
            }
            > span:nth-child(2) {
                opacity:0;
            }
            > span:last-child {
                transform-origin: 5px 1px;
                transform: rotate(-45deg);
            }
        }
    }
    &__links {
        // border: 1px solid red;
        a { 
            position: relative;
            font-size: $font-sm;
            color: $grayishBlue;
            transition: color 200ms ease-in-out;

            &:not(:last-child) {
                margin-right: 2rem;
            }
            &::before {
                position: absolute;
                content: "";
                display: block;
                height: 5px;
                background: linear-gradient(to right, $limeGreen, $brightCyan);
                opacity: 0;
                left: 0;
                right: 0;
                bottom: -30px;
                transition: opacity 200ms ease-in-out 300ms;
            }
            &:hover {
                color: $darkBlue;
                &::before {
                    opacity: 1;
                }
            }
        }
    }
    &__cta {
        font-size: $font-sm;
        color: $white;
        transition: opacity 400ms ease-in-out;
        &:hover {
            opacity: 0.7;
        }
    }
}
p {
    color: rgb(255, 238, 0);
}